<ul>
    <li><a href="{{RELEASE_DOWNLOAD_URL}}">uad_lists.json</a></li>
    <li><a href="version.json">version.json</a></li>
    <li><a href="version.txt">version.txt</a></li>
    <li><a href="version_with_url.txt">version_with_url.txt</a></li>
</ul>
