Version: {{RELEASE_VERSION}}
<ul>
    <li><a href="{{RELEASE_DOWNLOAD_URL}}">uad_lists.json - link for this specific version</a></li>
    <li><a href="https://github.com/crash5/uad-poc/releases/latest/download/uad_lists.json">uad_lists.json - static link</a></li>
    <li><a href="uad.html">uad html table</a></li>
    <li><a href="version.json">version.json</a></li>
    <li><a href="version.txt">version.txt</a></li>
    <li><a href="version_with_url.txt">version_with_url.txt</a></li>
</ul>
